.javascript {
    background-color: #f1e05a;
}

.python {
    background-color: #3572A5;
}

.php {
    background-color: #4F5D95;
}

.java {
    background-color: #b07219;
}

.typescript {
    background-color: #2b7489;
}

.html {
    background-color: #e34c26;
}

.css {
    background-color: #563d7c;
}

.c {
    background-color: #555555;
}

.cpp {
    background-color: #f34b7d;
}

.ruby {
    background-color: #701516;
}

.go {
    background-color: #00ADD8;
}

.swift {
    background-color: #ffac45;
}

.kotlin {
    background-color: #F18E33;
}

.rust {
    background-color: #dea584;
}

.pHP {
    background-color: #4F5D95;
}

.csharp {
    background-color: #178600;
}

.vue {
    background-color: #41b883;
}

.shell {
    background-color: #89e051;
}

.dockerfile {
    background-color: #384d54;
}

.markdown {
    background-color: #083fa1;
}
