.subtle {
    transition: all 1s ease-out;
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.subtle.hide {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
}

.multiple.subtle:nth-child(2) {
    transition-delay: 200ms;
}

.multiple.subtle:nth-child(3) {
    transition-delay: 400ms;
}
