@import "tailwindcss";

* {
    scroll-behavior: smooth;
}

.cursor {
    font-weight: bold;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* h1 {
    font-size: max(48px, min(5vw, 76px));
} */

:root {
    --background: #FBFBFB;
    /* --foreground: #171717; */
    --foreground: #101010;
    --background-dark: color-mix(in srgb, var(--background), black 50%);
    --background-light: color-mix(in srgb, var(--background), white 50%);
    --main: #700009;
    --main-alt: #D96669;
}


@media (prefers-color-scheme: dark) {
    :root {
        --background: #101010;
        --foreground: #ededed;
    }
}

@theme {
    /* --color-primary: #C71E27; */
    /* --color-primary-alt: #700009; */
    --color-primary: var(--color-main);
    --color-primary-alt: var(--color-main-alt);
    /* --color-primary: #E14F4F; */
    /* --color-primary-alt: #D63C5E; */
    /* --color-primary: #308B74; */
    /* --color-primary-alt: #0C2D23; */
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-background-dark: var(--background-dark);
    --color-background-light: var(--background-light);
    --color-main: var(--main);
    --color-main-alt: var(--main-alt);
}


@layer utilities {
    .bg-dither-strong::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 10;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.80' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)'/%3E%3C/svg%3E");
        opacity: 0.03;
        mix-blend-mode: overlay;
        pointer-events: none;
        border-radius: inherit;
    }
}
